a, h1, h2, h3, div, body, html {
    margin: 0;
    padding: 0;
    border: 0;
  }

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif
}

.nav {
    background-color: goldenrod;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 50px;

}
.navR a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 60px 0px -40px;

}


.cards {
    margin-top: 20px;
    clear:both;
    text-align: center;
 
}
.container {
    padding: 20px;
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;

    
}
.card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border: goldenrod solid 2px;
    border-radius: 5px;
    width: 320px;
    height: 590px;
    margin: 5px 5px;

}
button {
    background-color: goldenrod;
    border: none;
    color: white;
    width: 95%;
    height: 5%;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 10px;
    
    
}

p {
    font-size: 13.8px;
    margin-left: 30px;
    margin-right: 30px;
}
h2 {
    text-align: start;
    margin: 20px 0 0 20px;
}
